/*
1. Posicionamiento
2. Modelo de Caja (Box model)
3. Tipografia
4. Temas visuales
5. Miscelanios u otros
*/

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secundary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --grey-font: #757575;
  --off-white: #faf8f7;
  --just-white: #fff;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 32.4rem;
  text-align: center;
  background: linear-gradient(
    207.8deg,
    var(--warm-black) 16.69%,
    var(--bitcoin-orange) 100%
  );
}

header img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 6rem;
  align-self: center;
}

.header--tittle-container {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  height: 21.8rem;
  margin-top: 4rem;
  text-align: center;
  align-self: center;
}
.header--tittle-container h1 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.header--tittle-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--tittle-container .header-button {
  position: absolute;
  left: calc(50% - 118px);
  top: 27rem;
  display: block;
  margin-top: 3.5rem;
  padding: 15px;
  width: 22.9rem;
  height: 2.8rem;
  background-color: var(--off-white);
  /*Sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header-button span {
  display: inline-block;
  width: 1.3rem;
  height: 1rem;
  margin-left: 1rem;
  background-image: url("./assets/icons/arrowDown-solid.svg");
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container--tittle {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .backgraoundImg {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/images/Bitcoin.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-exchange-container--tittle h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--black);
}

.main-exchange-container--tittle p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: var(--grey-font);
}
